* {
  box-sizing: border-box;
}

.content {
  max-width: 100% !important;
}

html,
body {
  font-family: 'Roboto', sans-serif;
}

#menu a {
  text-decoration: none;
}

.pokemon-card {
	border: 1px solid grey;
	margin: 10px;
	border-collapse: collapse;
}

.pokemon-card > .content-subhead {
	line-height: 1em;
	border-bottom: 1px solid grey;
	margin: 0px;
	padding: 5px;
}
.pokemon-card .poke-info {
	border-right: 1px solid grey;
	padding: 10px;
}